{% extends "bootstrap/base.html" %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block title %}
  {% if user %}
    {{ user.username }} - BestToDo!
  {% else %}
    BestToDo!
  {% endif %}
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}{% endblock %}
